<!DOCTYPE html>
<html lang="en" style="height: 100%; width: 100%;">

<head>
    <meta charset="UTF-8">
    <title>Retrieve Image File</title>

    <link rel="stylesheet" href="/stylesheets/main/platform_variables_snow.css" />
    <link rel="stylesheet" href="/stylesheets/main/platform.css">
    <link rel="stylesheet" href="/stylesheets/main/popUpCard.css" />

    <style>
        .formsContainer {
            overflow: hidden;
            padding: 0;
        }

        .imageController {
            height: 100%;
            width: 100%;

            object-fit: cover;
            object-position: center center;
        }
    </style>

    <script type="module">
        //@ts-check
        import { BasePopUpCardInterface } from "/scripts/main/BasePopUpCardInterface.js";
        
        //Add onload to window for initializing popUpCardInterface
        window.addEventListener("DOMContentLoaded", () => {
            window.popUpCardInterface = new PopUpCardInterface();
        });

        class PopUpCardInterface extends BasePopUpCardInterface {
            imageController = document.getElementById("imageController");

            constructor() {
                super();
            }

            preview(imageFileURL) {
                this.imageController.src = imageFileURL;
                //Update titleDescription with fileName
                document.querySelector(".title").textContent = decodeURIComponent(imageFileURL.slice(imageFileURL.lastIndexOf("/") + 1, imageFileURL.lastIndexOf(".")));
            }
        }
    </script>
</head>

<body>
    <div class="popUpDivision">
        <!-- formTitleContainer -->
        <div class="formTitleContainer">
            <div class="titleContainer">
                <div class="titleDescription">Preview</div>
                <div class="title">Loading...</div>
            </div>
        </div>

        <!-- formFieldsContainer -->
        <div class="formsContainer">
            <img id="imageController" class="imageController" />
        </div>

        <!-- formControlsContainer -->
        <div class="formControlsContainer">
            <button class="buttonText link closeButton">CLOSE</button>
        </div>
    </div>
</body>

</html>