<!DOCTYPE html>
<html lang="en" style="height: 100%; width: 100%;">

<head>
    <meta charset="UTF-8">
    <title>Create/Update Product Manufacturing Orders</title>

    <link rel="stylesheet" href="/stylesheets/main/platform_variables_snow.css" />
    <link rel="stylesheet" href="/stylesheets/main/platform.css" />
    <link rel="stylesheet" href="/stylesheets/main/popUpCard.css" />

    <script type="module">
        //@ts-check
        import { EntityPopUpCardInterface } from "/scripts/main/EntityPopUpCardInterface.js";

        //Add onload to window for initializing popUpCardInterface
        window.addEventListener("DOMContentLoaded", () => {
            window.popUpCardInterface = new PopUpCardInterface();
        });

        class PopUpCardInterface extends EntityPopUpCardInterface {
            constructor() {
                super("Product Manufacturing Order", "Product Manufacturing Orders");
            }

            extendInitForm(bindingObjectURL, submissionURL, submissionMethod) {
                const materialAnalysisContainer = this.form.getView().querySelector("#materialAnalysisContainer");
                const tableRowTemplate = this.form.getView().querySelector("#templateContainer").content.querySelector("tr");

                //Set the current date as value for "addedDate"
                const addedDateInput = this.form.getView().querySelector("#addedDate");
                this.form.getView().querySelector("#wantedBy").addEventListener("focus", (event) => {
                    event.target.min = addedDateInput.value;
                });

                if (submissionMethod === "PUT") {
                    addedDateInput.value = new Date().toISOString().slice(0, 10);

                    //Hide material analysis container
                    materialAnalysisContainer.previousElementSibling.remove();
                    materialAnalysisContainer.remove();

                    this.form.init(bindingObjectURL, submissionURL, submissionMethod);
                } else if (submissionMethod === "POST") {
                    document.querySelector(".formTitleContainer .titleDescription").textContent = "Update";

                    //Remove the reset button
                    document.getElementById("resetButton").style.display = "none";

                    this.form.init(bindingObjectURL, submissionURL, submissionMethod).then((form) => {
                        fetch(submissionURL)
                            .then(response => response.json())
                            .then(response => {
                                if (response.status) {
                                    this.form.mapToBindingObject(this.form.getBindingObject(), response.data);
                                    //Update the inputs according to the binding object
                                    this.form.updateInputs(this.form.getBindingObject());

                                    if (response.data.orderStatusId !== 2) {
                                        fetch(`/productManufacturingOrders${submissionURL.slice(submissionURL.lastIndexOf("/"))}/analysis`)
                                            .then(response => response.json())
                                            .then(response => {
                                                if (response.status) {
                                                    const tBody = materialAnalysisContainer.querySelector("tbody");
                                                    //Create an entry for each material analysis report
                                                    for (const entry of response.data) {
                                                        const tr = tableRowTemplate.cloneNode(true);

                                                        tr.children[0].textContent = `(${entry.code}) ${entry.name}`;
                                                        tr.children[1].textContent = entry.needed_amount;
                                                        tr.children[2].textContent = entry.viable_amount;
                                                        tr.children[3].textContent = entry.missing_amount;
                                                        tr.children[4].textContent = entry.unit_name;

                                                        tBody.appendChild(tr);
                                                    }
                                                } else {
                                                    window.parent.shellInterface.throwAlert(response.error.title, response.error.title, response.error.message, null, "OK", null);
                                                }
                                            })
                                            .catch(error => {
                                                window.parent.shellInterface.throwAlert("Aw! snap", "Contact your system administrator", `We couldn't fetch the material analysis report from our database. The most likely cause may be a network failure. If it is not the case, provide your system administrator with the following error\n\n` + error, null, "OK", null);
                                            });
                                    } else {
                                        //Hide material analysis container
                                        materialAnalysisContainer.previousElementSibling.remove();
                                        materialAnalysisContainer.remove();
                                    }
                                } else {
                                    window.parent.shellInterface.throwAlert(response.error.title, response.error.title, response.error.message, null, "OK", null);
                                }
                            })
                            .catch(error => {
                                window.parent.shellInterface.throwAlert("Aw! snap", "Contact your system administrator", `We couldn't fetch the required ${this.entityNameSingular} from our database. The most likely cause may be a network failure. If it is not the case, provide your system administrator with the following error\n\n` + error, null, "OK", null);
                            });


                    });
                }
            }
        }
    </script>
</head>

<body>
    <div class="popUpDivision">
        <!-- formTitleContainer -->
        <div class="formTitleContainer">
            <div class="titleContainer">
                <div class="titleDescription">Add</div>
                <div class="title">Product Manufacturing Order</div>
            </div>
        </div>

        <!-- formsContainer -->
        <div class="formsContainer">
            <form>
                <div class="formFieldContainer disabled">
                    <div class="titleContainer">
                        <h1 class="title">Order code</h1>
                    </div>
                    <div class="inputContainer text">
                        <input id="code" type="text" placeholder="eg: PMO2020019" value="PMO0000000" />
                    </div>
                </div>

                <div class="formFieldContainer">
                    <div class="titleContainer">
                        <h1 class="title">Product</h1>
                    </div>
                    <div class="inputContainer dropDown">
                        <select id="productId" data-request-url="/products?keyword=" data-text-content-field="name"
                            data-value-field="id">

                        </select>
                        <button title="Reload values">&olarr;</button>
                    </div>
                </div>

                <div class="formFieldContainer">
                    <div class="titleContainer">
                        <h1 class="title">Requested amount</h1>
                    </div>
                    <div class="inputContainer text">
                        <input id="requestedAmount" type="text" placeholder="eg: 1.5">
                    </div>
                </div>

                <div class="formFieldContainer">
                    <div class="titleContainer">
                        <h1 class="title">Unit type</h1>
                    </div>
                    <div class="inputContainer dropDown">
                        <select id="unitTypeId" data-request-url="/tables/unitType" data-text-content-field="name"
                            data-value-field="id">

                        </select>
                        <button title="Reload values">&olarr;</button>
                    </div>
                </div>

                <div class="formFieldContainer">
                    <div class="titleContainer">
                        <h1 class="title">Wanted by</h1>
                    </div>
                    <div class="inputContainer text">
                        <input id="wantedBy" type="date" placeholder="eg: 2020-05-10">
                    </div>
                </div>

                <div class="formFieldContainer disabled">
                    <div class="titleContainer">
                        <h1 class="title">Order status</h1>
                    </div>
                    <div class="inputContainer dropDown">
                        <select id="orderStatusId" data-request-url="/tables/orderStatus" data-text-content-field="name"
                            data-value-field="id">

                        </select>
                        <button title="Reload values">&olarr;</button>
                    </div>
                </div>

                <div class="formFieldContainer disabled">
                    <div class="titleContainer">
                        <h1 class="title">Date added</h1>
                    </div>
                    <div class="inputContainer text">
                        <input id="addedDate" type="date" placeholder="eg: 2020-01-01">
                    </div>
                </div>

                <div class="formFieldContainer wide">
                    <div class="titleContainer">
                        <h1 class="title">Description</h1>
                    </div>
                    <div class="inputContainer textarea">
                        <textarea id="description"></textarea>
                    </div>
                </div>

                <div class="titleContainer">
                    <h1 class="title">Material Availability Analysis</h1>
                </div>
                <div id="materialAnalysisContainer" class="formFieldContainer wide">
                    <table>
                        <thead>
                            <tr>
                                <th>Material</th>
                                <th>Viable amount</th>
                                <th>Needed amount</th>
                                <th>Missing amount</th>
                                <th>Measured in</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <template id="templateContainer">
                    <tr>
                        <td>Skeem Coat</td>
                        <td>Titanium O</td>
                        <td>1240.00 Kilograms</td>
                        <td>1.2</td>
                        <td>1.2</td>
                    </tr>
                </template>
            </form>
        </div>

        <!-- formControlsContainer -->
        <div class="formControlsContainer">
            <button id="saveButton" class="buttonText link">SAVE</button>
            <button id="printButton" class="buttonText link">PRINT</button>
            <button id="resetButton" class="buttonText link">RESET</button>
            <button class="buttonText link closeButton">CLOSE</button>
        </div>
    </div>
</body>

</html>