<!DOCTYPE html>
<html lang="en" style="height: 100%; width: 100%">

<head>
    <meta charset="UTF-8" />
    <title>Employees</title>

    <link rel="stylesheet" href="/stylesheets/main/platform_variables_turquoise.css" />
    <link rel="stylesheet" href="/stylesheets/main/platform.css">
    <link rel="stylesheet" href="/stylesheets/main/card.css" />

    <script type="module">
        //@ts-check
        import { PlatformComponent, CardComponent } from "/scripts/main/Utility.js";
        import { BaseCardInterface } from "/scripts/main/BaseCardInterface.js";

        //Add onload to window for initializing cardInterface
        window.addEventListener("DOMContentLoaded", () => {
            window.cardInterface = new CardInterface();
        });

        class CardInterface extends BaseCardInterface {
            constructor() {
                super();
                this.createControls[0].addEventListener("click", () => {
                    //Add onload to iframe for initializing update form
                    const popUpCard = this.cardObject.createPopUpCard("/layouts/main/popUpCards/employees_cu.html");
                    popUpCard.getView().querySelector("iframe").addEventListener("load", () => {
                        popUpCard.popUpCardInterface.initInputs().then(() => {
                            popUpCard.popUpCardInterface.initCreateForm();
                        });
                    });
                });

                this.retrieveControls[0].addEventListener("click", () => {
                    PlatformComponent.toggleButtonGlyph(this.retrieveControls[0]);
                });
                this.retrieveControls[0].children[1].addEventListener("keypress", (event) => {
                    if (event.key === 'Enter') {
                        PlatformComponent.toggleButtonGlyph(this.retrieveControls[0]);
                        if (event.currentTarget.value === "") {
                            this.searchItems("", "All employees", "Double tap to view and update");
                        } else {
                            this.searchItems(event.currentTarget.value, "Here's what we've found", `For ${event.currentTarget.value}`);
                        }
                    }
                });

                this.updateControls[0].addEventListener("click", () => {
                    if (this.selectedCardDivisionSectorItems.length === 0) {
                        window.parent.shellInterface.throwAlert("Update what?", "Select an item to update", null, null, "OK", null);
                    } else if (this.selectedCardDivisionSectorItems.length > 1) {
                        window.parent.shellInterface.throwAlert("Too many items", "Select only a single item", "You cannot update multiple items at the same time. Please select a single item and try again", null, "OK", null);
                    } else {
                        this.updateItem(this.selectedCardDivisionSectorItems[0]);
                    }
                });

                this.deleteControls[0].addEventListener("click", () => {
                    if (this.selectedCardDivisionSectorItems.length === 0) {
                        window.parent.shellInterface.throwAlert("Delete what?", "Select an item to delete", null, null, "OK", null);
                    } else if (this.selectedCardDivisionSectorItems.length > 1) {
                        window.parent.shellInterface.throwAlert("Too many items", "Select only a single item", "You cannot delete multiple items at the same time. Please select a single item and try again", null, "OK", null);
                    } else {
                        window.parent.shellInterface.throwAlert("Are you sure?", "Proceed with caution", "The action of deleting an item isn't reversible. Think carefully and proceed", null, "YES", "NO")
                            .then((value) => {
                                if (value) {
                                    fetch(`/employees/${this.selectedCardDivisionSectorItems[0].dataset.bindingObjectId}`, {
                                        method: "DELETE"
                                    })
                                        .then(response => response.json())
                                        .then(response => {
                                            if (response.status) {
                                                this.selectedCardDivisionSectorItems[0].remove();
                                            } else {
                                                window.parent.shellInterface.throwAlert(response.error.title, response.error.titleDescription, response.error.message, null, "OK", null);
                                            }
                                        })
                                        .catch(error => {
                                            window.parent.shellInterface.throwAlert("Aw! snap", "Contact your system administrator", "We couldn't delete the required employee from the internal server. The most likely cause may be a network failure. If it is not the case, provide your system administrator with the following error\n\n" + error, null, "OK", null);
                                        })
                                }
                            });
                    }
                });

                this.searchItems("", "Employees", "Double tap to view and update");
            }

            updateItem(selectedCardDivisionSectorItem) {
                //Add onload to iframe for initializing update form
                const popUpCard = this.cardObject.createPopUpCard("/layouts/main/popUpCards/employees_cu.html");
                popUpCard.getView().querySelector("iframe").addEventListener("load", () => {
                    popUpCard.popUpCardInterface.initInputs().then(() => {
                        popUpCard.popUpCardInterface.initUpdateForm(selectedCardDivisionSectorItem);
                    });
                });
            }

            //EVENT HANDLER METHODS
            searchItems(keyword, titleText, titleDescriptionText) {
                fetch(`/employees?keyword=${keyword}`)
                    .then(response => response.json())
                    .then(response => {
                        if (response.status) {
                            const cardDivision = document.getElementById("mainCardDivision");
                            cardDivision.innerHTML = "";
                            const cardDivisionSector = CardComponent.createCardDivisionSector(titleText, titleDescriptionText);
                            for (const item of response.data) {
                                const iconURL = `../../../images/main/icon_user_default.png`;
                                const cardDivisionSectorItem = CardComponent.createCardDivisionSectorItem.bind(this, iconURL, item.preferredName, [item.nicNumber, item.mobile, item.gender.name, item.employeeStatus.name, item.designation.name])();
                                cardDivisionSectorItem.addEventListener("dblclick", this.updateItem.bind(this, cardDivisionSectorItem));
                                cardDivisionSectorItem.dataset.bindingObjectId = item.id;
                                cardDivisionSector.appendChild(cardDivisionSectorItem);
                            }
                            cardDivision.appendChild(cardDivisionSector);
                        } else {
                            window.parent.shellInterface.throwAlert(response.error.title, response.error.titleDescription, response.error.message, null, "OK", null);
                        }
                    })
                    .catch(error => {
                        window.parent.shellInterface.throwAlert("Aw! snap", "Contact your system administrator", "We couldn't fetch employees list from the internal server. The most likely cause may be a network failure. If it is not the case, provide your system administrator with the following error\n\n" + error, null, "OK", null);
                    });
            }
        }
    </script>
</head>

<body>
    <div id="mainCardDivision" class="cardDivision">
    </div>

    <!-- quickAccessArea -->
    <div id="quickAccessArea" style="display: none;">
        <div id="createControlsContainer">
            <!-- createUser -->
            <button class="buttonGlyph">
                <span>C</span>
            </button>
        </div>
        <div id="retrieveControlsContainer">
            <!-- searchUser -->
            <button class="buttonGlyph">
                <span>S</span>
                <input type="text" placeholder="TYPE A KEYWORD AND HIT ENTER"
                    style="display:none; height: 100%; width: 100%; text-align: center; background-color: transparent; border: none;" />
            </button>
        </div>
        <div id="updateControlsContainer">
            <!-- updateUser -->
            <button class="buttonGlyph">
                <span>U</span>
            </button>
        </div>
        <div id="deleteControlsContainer">
            <!-- deleteUser -->
            <button class="buttonGlyph">
                <span>D</span>
            </button>
        </div>
    </div>
</body>

</html>