<!DOCTYPE html>
<html lang="en" style="height: 100%; width: 100%">

<head>
    <meta charset="UTF-8" />
    <title>Roles and Permissions</title>

    <link rel="stylesheet" href="/stylesheets/main/platform_variables_turquoise.css" />
    <link rel="stylesheet" href="/stylesheets/main/platform.css">
    <link rel="stylesheet" href="/stylesheets/main/card.css" />

    <script type="module">
        //@ts-check
        import { PlatformUtil, CardComponent } from "/scripts/main/Utility.js";
        import { EntityManagerCardInterface } from "/scripts/main/EntityManagerCardInterface.js";

        //Add onload to window for initializing cardInterface
        window.addEventListener("DOMContentLoaded", () => {
            window.cardInterface = new CardInterface();
        });

        class CardInterface extends EntityManagerCardInterface {
            constructor() {
                super("Role", "Roles");
            }

            searchItems(keyword, titleDescriptionText) {
                fetch(`/${PlatformUtil.capitalizedToPascal(this.entityNamePlural)}?keyword=${keyword}`)
                    .then(response => response.json())
                    .then(response => {
                        if (response.status) {
                            this.selectedCardDivisionSectorItems.length = 0;
                            const cardDivision = document.getElementById("mainCardDivision");
                            cardDivision.innerHTML = "";
                            const cardDivisionSector = CardComponent.createCardDivisionSector("Available Roles", titleDescriptionText);
                            for (const item of response.data) {
                                const iconURL = `../../../images/main/icon_user_default.png`;
                                const cardDivisionSectorItem = CardComponent.createCardDivisionSectorItem(this.selectedCardDivisionSectorItems, iconURL, item.name, []);
                                cardDivisionSectorItem.dataset.bindingObjectId = item.id;
                                cardDivisionSector.appendChild(cardDivisionSectorItem);
                            }
                            cardDivision.appendChild(cardDivisionSector);
                        } else {
                            window.parent.shellInterface.throwAlert(response.error.title, response.error.titleDescription, response.error.message, null, "OK", null);
                        }
                    })
                    .catch(error => {
                        window.parent.shellInterface.throwAlert("Aw! snap", "Contact your system administrator", `We couldn't fetch the ${this.entityNamePlural} list from our database. The most likely cause may be a network failure. If it is not the case, provide your system administrator with the following error\n\n` + error, null, "OK", null);
                    });
            }
        }
    </script>
</head>

<body>
    <div id="mainCardDivision" class="cardDivision">
    </div>

    <!-- quickAccessArea -->
    <div id="quickAccessArea" style="display: none;">
        <div id="createControlsContainer">
            <button class="buttonGlyph" title="Add role">
                <img src="/images/main/glyph_create.png" />
            </button>
        </div>
        <div id="retrieveControlsContainer">
            <button class="buttonGlyph">
                <img src="/images/main/glyph_search.png" title="Search roles"/>
                <input type="text" placeholder="TYPE A KEYWORD AND HIT ENTER"
                    style="display:none; height: 100%; width: 100%; text-align: center; background-color: transparent; border: none;" />
            </button>
            <button class="buttonGlyph">
                <img src="/images/main/glyph_refresh.png" title="Refresh"/>
            </button>
        </div>
        <div id="updateControlsContainer">
            <button class="buttonGlyph" title="Edit role">
                <img src="/images/main/glyph_update.png" />
            </button>
        </div>
        <div id="deleteControlsContainer">
            <button class="buttonGlyph" title="Remove role">
                <img src="/images/main/glyph_delete.png" />
            </button>
        </div>
    </div>
</body>

</html>