<!DOCTYPE html>
<html lang="en" style="height: 100%; width: 100%">

<head>
    <meta charset="UTF-8" />
    <title>Control Panel</title>

    <link rel="stylesheet" href="/stylesheets/main/platform_variables_turquoise.css" />
    <link rel="stylesheet" href="/stylesheets/main/platform.css">
    <link rel="stylesheet" href="/stylesheets/main/card.css" />

    <style>
        .itemInformation:hover {
            color: var(--defaultColor);
        }
    </style>

    <script type="module">
        //@ts-check
        import { CardComponent } from "/scripts/main/Utility.js";
        import { PopUpCard } from "/scripts/main/PopUpCard.js";
        import { BaseCardInterface } from "/scripts/main/BaseCardInterface.js";

        //Add onload to window for initializing cardInterface
        window.addEventListener("DOMContentLoaded", () => {
            window.cardInterface = new CardInterface();
        });

        class CardInterface extends BaseCardInterface {
            constructor() {
                super();

                const buttons = document.querySelectorAll("button");
                buttons[0].addEventListener("click", () => {
                    const popUpCard = this.cardObject.createPopUpCard("layouts/main/popUpCards/pattern_u.html");
                });

                buttons[1].addEventListener("click", () => {
                    //Add onload to iframe for initializing update form
                    const popUpCard = this.cardObject.createPopUpCard("layouts/main/popUpCards/userPreferences_u.html");
                });
            }
        }
    </script>
</head>

<body>
    <div id="mainCardDivision" class="cardDivision">
        <div class="cardDivisionSector">
            <div class="titleContainer">
                <h1 class="title">Change Pattern Password</h1>
                <div class="titleDescription">If you think your pattern is insecure or compromised, click on the following button to change it to a more secure one.</div>
                <button class="buttonText">CHANGE</button>
            </div>
        </div>
        <div class="cardDivisionSector">
            <div class="titleContainer">
                <h1 class="title">Update User Preferences</h1>
                <div class="titleDescription">Your theme, display name and the avatar can be changed by clicking on the following button</div>
                <button class="buttonText">UPDATE</button>
            </div>
        </div>
    </div>

    <!-- quickAccessArea -->
    <div id="quickAccessArea" style="display: none;">
        <div id="createControlsContainer">

        </div>
        <div id="retrieveControlsContainer">

        </div>
        <div id="updateControlsContainer">

        </div>
        <div id="deleteControlsContainer">

        </div>
    </div>
</body>

</html>