<!DOCTYPE html>
<html lang="en" style="height: 100%; width: 100%">

<head>
    <meta charset="UTF-8" />
    <title>Files</title>

    <link rel="stylesheet" href="../../stylesheets/platform_styleVariables_turquoise.css" />
    <link rel="stylesheet" href="../../stylesheets/platform_styles.css">
    <link rel="stylesheet" href="../../stylesheets/card_styles.css" />

    <style>
        .itemInformation:hover {
            color: var(--defaultColor);
        }
    </style>

    <script type="module">
        //@ts-check
        import { CardComponent } from "../../scripts/Utility.js";
        import { PopUpCard } from "../../scripts/PopUpCard.js";
        //Prevent contextMenu
        window.addEventListener("contextmenu", (event) => {
            event.preventDefault();
        });
        //Add onload to window for initializing cardInterface
        window.addEventListener("load", () => {
            window.cardInterface = new CardInterface();
        });

        class CardInterface {
            cardObject = null;
            title = document.querySelector("title").textContent;
            presentWorkingDirectoryPath = "/";
            fileMetadata = null;

            selectedCardDivisionSectorItems = [];
            quickAccessArea = document.getElementById("quickAccessArea");
            createControls = this.quickAccessArea.querySelectorAll("#createControlsContainer > button");
            retrieveControls = this.quickAccessArea.querySelectorAll("#retrieveControlsContainer > button");
            updateControls = this.quickAccessArea.querySelectorAll("#updateControlsContainer > button");
            deleteControls = this.quickAccessArea.querySelectorAll("#deleteControlsContainer > button");
            mainCardDivision = document.getElementById("mainCardDivision");

            constructor() {
                //Add onclick to retrieveFileButton for determining and showing the relevant retrieve file popUpCard
                this.retrieveControls[0].addEventListener("click", () => {
                    this.determinePreviewPopUp();
                });
                //Add onclick to returnFromDirectoryButton for return form current directory
                this.retrieveControls[1].addEventListener("click", this.returnFromDirectory.bind(this));
                //Initially cache the fileMetadata and navigate the root user directory
                fetch(`${location.protocol}//${location.host}/registries/fileMetadata.json`)
                    .then(response => response.json())
                    .then(response => {
                        if (response.status) {
                            this.fileMetadata = response.data;
                            this.navigateDirectory(this.mainCardDivision, this.presentWorkingDirectoryPath);
                        } else {
                            window.parent.shellInterface.throwAlert(response.error.title, response.error.titleDescription, response.error.message, null, "OK", null);
                        }
                    }).catch(error => {
                        window.parent.shellInterface.throwAlert("Aw! snap", "Contact your system administrator", "We couldn't fetch the fileMetadata library from the internal server. The most likely cause may be a network failure. If it is not the case, provide your system administrator with the following error\n\n" + error, null, "OK", null);
                    });
            }

            //EVENT HANDLER METHODS
            navigateDirectory(parentCardDivision, subDirectoryPath) {
                //Fetch itemPaths in the subDirectoryPath
                fetch(`${location.protocol}//${location.host}/directories/${encodeURIComponent(subDirectoryPath)}/items`)
                    .then(response => response.json())
                    .then(response => {
                        if (response.status) {
                            parentCardDivision.innerHTML = "";
                            //Clear the selectedCardDivisionSectorItems
                            this.selectedCardDivisionSectorItems.length = 0;
                            //Add a cardDivisionSector for viewing presentWorkingDirectoryPath
                            CardComponent.createCardDivisionSector(parentCardDivision, "", this.presentWorkingDirectoryPath.replace(/\//g, " > "));
                            if (response.data.directories.length === 0 && response.data.files.length === 0) {
                                CardComponent.createCardDivisionSector(parentCardDivision, "Hmm... It's lonely here", "It's up to you to add something. Try the upload button");
                            } else {
                                if (response.data.directories.length > 0) {
                                    //Create a cardDivisionSector for directories
                                    const cardDivisionSector = CardComponent.createCardDivisionSector("Directories", "Double tap to navigate in");
                                    //Create a cardDivisionSectorItem for each directoryDatum
                                    for (const directory of response.data.directories) {
                                        //NOTE: Every directory name has a "/" appended to it
                                        //NOTE: Bounded method is immediately invoked
                                        const cardDivisionSectorItem = CardComponent.createCardDivisionSectorItem.bind(this, "../../" + this.fileMetadata.directory.iconPath, directory.name.slice(0, -1), [])();
                                        //Store itemCategory, directoryPath in the cardDivisionSectorItem
                                        cardDivisionSectorItem.dataset.directoryPath = subDirectoryPath + directory.name;
                                        cardDivisionSectorItem.dataset.itemCategory = "directories";
                                        //Add ondblclick to cardDirectorySectorItem for navigating in to the corresponding directory
                                        cardDivisionSectorItem.addEventListener("dblclick", () => {
                                            this.presentWorkingDirectoryPath = cardDivisionSectorItem.dataset.directoryPath;
                                            this.navigateDirectory(this.mainCardDivision, cardDivisionSectorItem.dataset.directoryPath);
                                        });
                                        cardDivisionSector.appendChild(cardDivisionSectorItem);
                                    }
                                    parentCardDivision.appendChild(cardDivisionSector);
                                }
                                if (response.data.files.length > 0) {
                                    //Create a cardDivisionSector for files
                                    const cardDivisionSector = CardComponent.createCardDivisionSector("Files", "Double tap to preview");
                                    //Create a cardDivisionSector for each fileDatum
                                    for (const file of response.data.files) {
                                        //NOTE: Bounded method is immediately invoked
                                        let cardDivisionSectorItem = null;
                                        if (this.fileMetadata.hasOwnProperty(file.extension)) {
                                            cardDivisionSectorItem = CardComponent.createCardDivisionSectorItem.bind(this, "../../" + this.fileMetadata[file.extension].iconPath, file.name, [this.fileMetadata[file.extension].fileType, `${(file.size / 1049000).toFixed(2)} MiB`])();
                                            //Store itemCategory in the cardDivisionSector
                                            cardDivisionSectorItem.dataset.fileCategory = this.fileMetadata[file.extension].category;
                                        } else {
                                            cardDivisionSectorItem = CardComponent.createCardDivisionSectorItem.bind(this, "../../" + this.fileMetadata.unknown.iconPath, file.name, [this.fileMetadata.unknown.fileType, `${(file.size / 1049000).toFixed(2)} MiB`])();
                                            //Store itemCategory in the cardDivisionSector
                                            cardDivisionSectorItem.dataset.fileCategory = this.fileMetadata.unknown.category;
                                        }
                                        //Store filePath in the cardDivisionSector
                                        cardDivisionSectorItem.dataset.filePath = subDirectoryPath + file.name;
                                        //Add ondblclick to cardDirectorySectorItem for previewing
                                        cardDivisionSectorItem.addEventListener("dblclick", () => {
                                            this.determinePreviewPopUp();
                                        });
                                        cardDivisionSector.appendChild(cardDivisionSectorItem);
                                    }
                                    parentCardDivision.appendChild(cardDivisionSector);
                                }
                            }
                        } else {
                            window.parent.shellInterface.throwAlert(response.error.title, response.error.titleDescription, response.error.message, null, "OK", null);
                        }
                    })
                    .catch(error => {
                        window.parent.shellInterface.throwAlert("Aw! snap", "Contact your system administrator", "We couldn't fetch content list from the internal server. The most likely cause may be a network failure. If it is not the case, provide your system administrator with the following error\n\n" + error, null, "OK", null);
                    });
            }

            determinePreviewPopUp() {
                if (this.selectedCardDivisionSectorItems.length > 1) {
                    window.parent.shellInterface.throwAlert("Too many items", "Select only one item and try again", "The system is not capable of previewing multiple selections at once", null, "OK", null);
                } else if (this.selectedCardDivisionSectorItems.length === 0) {
                    window.parent.shellInterface.throwAlert("Preview what now?", "Select no more than one item and try again", "You have to select no more than one item before requesting a preview", null, "OK", null);
                } else if (this.selectedCardDivisionSectorItems[0].dataset.fileCategory === "unknowns") {
                    window.parent.shellInterface.throwAlert("This file says 0001101...", "Try previewing a preview supported file", "The file type you are about to view is not currently supported by this system", null, "OK", null);
                } else if (this.selectedCardDivisionSectorItems[0].dataset.fileCategory === "directories") {
                    window.parent.shellInterface.throwAlert("Cannot preview a directory", "Select anything that is not a directory", "Only a handful of file types are currently supported by this system for previewing. And those definitely do not include directories", null, "OK", null);
                } else {
                    const filePath = this.selectedCardDivisionSectorItems[0].dataset.filePath;
                    const fileCategory = this.selectedCardDivisionSectorItems[0].dataset.fileCategory;
                    this.showMediaPreviewPopUp(fileCategory, this.presentWorkingDirectoryPath + filePath);
                }
            }

            //NOTE: Since we use custom procedure for if and if not exists we cannot use this.cardObject.createPopUpCard()
            //NOTE: "files_r_image.html" can have many instances
            //NOTE: "files_r_media.html" can have only one instance
            showMediaPreviewPopUp(fileCategory, filePath) {
                if (fileCategory === "images") {
                    const imagePreviewPopUp = this.cardObject.createPopUpCard("layouts/popUpCards/files_r_image.html");
                    //Allow more width than other popUpCards
                    imagePreviewPopUp.getView().style.maxWidth = "90vw";
                    imagePreviewPopUp.getView().querySelector("iframe").addEventListener("load", () => {
                        imagePreviewPopUp.popUpCardInterface.preview(filePath);
                    });
                } else if (fileCategory === "audios" || fileCategory === "videos") {
                    //Try to retrieve already existing popUpCard
                    const existingPopUpCard = this.cardObject.isPopUpCardExists("layouts/popUpCards/files_r_media.html");
                    if (existingPopUpCard) {
                        existingPopUpCard.popUpCardInterface.preview(filePath);
                    } else {
                        const mediaPreviewPopUp = this.cardObject.createPopUpCard("layouts/popUpCards/files_r_media.html");
                        mediaPreviewPopUp.getView().querySelector("iframe").addEventListener("load", () => {
                            mediaPreviewPopUp.popUpCardInterface.preview(filePath);
                        });
                    }
                } else if (fileCategory === "documents") {
                    console.log("Document preview support is yet to be implemented");
                }
            }

            returnFromDirectory() {
                this.selectedCardDivisionSectorItems.length = 0;
                if (this.presentWorkingDirectoryPath === "/") {
                    window.parent.shellInterface.throwAlert("No more parent directories", "You're already on the root directory", "You cannot navigate back further when you're already on the root directory.", null, "OK", null);
                } else {
                    this.presentWorkingDirectoryPath = this.presentWorkingDirectoryPath.slice(0, -1);
                    if (this.presentWorkingDirectoryPath.includes("/")) {
                        this.presentWorkingDirectoryPath = this.presentWorkingDirectoryPath.slice(0, this.presentWorkingDirectoryPath.lastIndexOf("/") + 1);
                    } else {
                        this.presentWorkingDirectoryPath = "/";
                    }
                    this.navigateDirectory(this.mainCardDivision, this.presentWorkingDirectoryPath);
                }
            }
        }
    </script>
</head>

<body>
    <div id="mainCardDivision" class="cardDivision">
    </div>

    <!-- quickAccessArea -->
    <div id="quickAccessArea" style="display: none;">
        <div id="createControlsContainer">
            <!-- uploadFile -->
            <button class="buttonGlyph">
                <span>UP</span>
            </button>
            <!-- createDirectory -->
            <button class="buttonGlyph">
                <span>DR</span>
            </button>
        </div>
        <div id="retrieveControlsContainer">
            <!-- previewFile -->
            <button class="buttonGlyph">
                <span>PR</span>
                <input type="text" placeholder="TYPE A KEYWORD AND HIT ENTER"
                    style="display:none; height: 100%; width: 100%; text-align: center; background-color: transparent; border: none;" />
            </button>
            <!-- navigateUp -->
            <button class="buttonGlyph">
                <span>NV</span>
            </button>
        </div>
        <div id="updateControlsContainer">
            <!-- renameFile/Directory -->
            <button class="buttonGlyph">
                <span>RN</span>
            </button>
        </div>
        <div id="deleteControlsContainer">
            <!-- deleteFile/Directory -->
            <button class="buttonGlyph">
                <span>DL</span>
            </button>
        </div>
    </div>
</body>

</html>