<!DOCTYPE html>
<html lang="en" style="height: 100%; width: 100%">

<head>
    <meta charset="UTF-8">
    <title>Motherboards</title>

    <link rel="stylesheet" href="../../stylesheets/platform_styleVariables_turquoise.css" />
    <link rel="stylesheet" href="../../stylesheets/platform_styles.css">
    <link rel="stylesheet" href="../../stylesheets/card_styles.css" />

    <style>
        .cardDivision-popIn {
            transform: scale(0);
            animation: createCardDivision 0.3s forwards;
        }

        .cardDivision-popOut {
            animation: removeCardDivision 0.3s forwards;
        }

        @keyframes createCardDivision {
            100% {
                transform: scale(1);
            }
        }

        @keyframes removeCardDivision {
            0% {
                transform: scale(1);
            }

            100% {
                transform: scale(0);
            }
        }
    </style>

    <script type="module">
        //@ts-check
        import {PopUpCard} from "../../scripts/PopUpCard.js";
        
        //Add onload to window for initializing cardInterface
        window.addEventListener("load", () => {
            window.cardInterface = new CardInterface();

            document.body.addEventListener("dblclick", (event) => {
                const cardDivision = document.createElement("div");
                cardDivision.style.transform = `scale(0) translate(${event.clientX}px, ${event.clientY}px)`;
                cardDivision.setAttribute("class", "cardDivision cardDivision-popIn");

                cardDivision.onclick = () => {
                    cardDivision.classList.replace("cardDivision-popIn", "cardDivision-popOut");
                }

                document.body.appendChild(cardDivision);
            });
        });


        class CardInterface {
            openPopUpCards = [];
            title = document.querySelector("title").textContent;

            quickAccessArea = document.getElementById("quickAccessArea");
            createControls = this.quickAccessArea.querySelectorAll("#createControlsContainer > button");
            retrieveControls = this.quickAccessArea.querySelectorAll("#retrieveControlsContainer > button");
            updateControls = this.quickAccessArea.querySelectorAll("#updateControlsContainer > button");
            deleteControls = this.quickAccessArea.querySelectorAll("#deleteControlsContainer > button");

            getTitle() {
                return this.title;
            }

            getControls(controlsType) {
                switch (controlsType) {
                    case "create": return this.createControls; break;
                    case "retrieve": return this.retrieveControls; break;
                    case "update": return this.updateControls; break;
                    case "delete": return this.deleteControls; break;
                }
            }

            getOpenPopUpCards() {
                return this.openPopUpCards;
            }

            //EVENT HANDLER METHODS
            createPopUpCard(moduleComponentPath) {
                const createUserPopUp = new PopUpCard(moduleComponentPath);
                this.openPopUpCards.push(createUserPopUp);
                window.parent.shellInterface.getCurrentScreen().addPopUpCard(createUserPopUp);
            }
        }
    </script>
</head>

<body>
    <div id="mainCardDivision" class="cardDivision">
        <div class="cardDivisionSector">
            <div class="titleContainer">
                <h1 class="title">Recent</h1>
                <div class="titleDescription">Hey! Checkout the recent additions to Motherboards</div>
            </div>
            <div class="cardDivisionSectorItem">
                <div class="itemPreview"></div>
                <div class="itemDetails">
                    <h1 class="itemTitle">Test Motherboard For Everyone In the family test</h1>
                    <span class="itemInformation">2.0 GHz</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                </div>
            </div>
            <div class="cardDivisionSectorItem">
                <div class="itemPreview"></div>
                <div class="itemDetails">
                    <h1 class="itemTitle">Test Motherboard For Everyone In the family test</h1>
                    <span class="itemInformation">2.0 GHz</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                </div>
            </div>
            <div class="cardDivisionSectorItem">
                <div class="itemPreview"></div>
                <div class="itemDetails">
                    <h1 class="itemTitle">Test Motherboard For Everyone In the family test</h1>
                    <span class="itemInformation">2.0 GHz</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                </div>
            </div>
            <div class="cardDivisionSectorItem">
                <div class="itemPreview"></div>
                <div class="itemDetails">
                    <h1 class="itemTitle">Test Motherboard For Everyone In the family test</h1>
                    <span class="itemInformation">2.0 GHz</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                </div>
            </div>
        </div>
        <div class="cardDivisionSector">
            <div class="titleContainer">
                <h1 class="title">Test</h1>
                <div class="titleDescription">sgerh uhewhyr897ewfjoi 89usd98fjsiodfj</div>
            </div>
            <div class="cardDivisionSectorItem">
                <div class="itemPreview"></div>
                <div class="itemDetails">
                    <h1 class="itemTitle">Test Motherboard For Everyone In the family test</h1>
                    <span class="itemInformation">2.0 GHz</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                </div>
            </div>
            <div class="cardDivisionSectorItem">
                <div class="itemPreview"></div>
                <div class="itemDetails">
                    <h1 class="itemTitle">Test Motherboard For Everyone In the family test</h1>
                    <span class="itemInformation">2.0 GHz</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                </div>
            </div>
            <div class="cardDivisionSectorItem">
                <div class="itemPreview"></div>
                <div class="itemDetails">
                    <h1 class="itemTitle">Test Motherboard For Everyone In the family test</h1>
                    <span class="itemInformation">2.0 GHz</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                </div>
            </div>
            <div class="cardDivisionSectorItem">
                <div class="itemPreview"></div>
                <div class="itemDetails">
                    <h1 class="itemTitle">Test Motherboard For Everyone In the family test</h1>
                    <span class="itemInformation">2.0 GHz</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                </div>
            </div>
            <div class="cardDivisionSectorItem">
                <div class="itemPreview"></div>
                <div class="itemDetails">
                    <h1 class="itemTitle">Test Motherboard For Everyone In the family test</h1>
                    <span class="itemInformation">2.0 GHz</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                </div>
            </div>
            <div class="cardDivisionSectorItem">
                <div class="itemPreview"></div>
                <div class="itemDetails">
                    <h1 class="itemTitle">Test Motherboard For Everyone In the family test</h1>
                    <span class="itemInformation">2.0 GHz</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                </div>
            </div>
            <div class="cardDivisionSectorItem">
                <div class="itemPreview"></div>
                <div class="itemDetails">
                    <h1 class="itemTitle">Test Motherboard For Everyone In the family test</h1>
                    <span class="itemInformation">2.0 GHz</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                </div>
            </div>
            <div class="cardDivisionSectorItem">
                <div class="itemPreview"></div>
                <div class="itemDetails">
                    <h1 class="itemTitle">Test Motherboard For Everyone In the family test</h1>
                    <span class="itemInformation">2.0 GHz</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                </div>
            </div>
            <div class="cardDivisionSectorItem">
                <div class="itemPreview"></div>
                <div class="itemDetails">
                    <h1 class="itemTitle">Test Motherboard For Everyone In the family test</h1>
                    <span class="itemInformation">2.0 GHz</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                </div>
            </div>
            <div class="cardDivisionSectorItem">
                <div class="itemPreview"></div>
                <div class="itemDetails">
                    <h1 class="itemTitle">Test Motherboard For Everyone In the family test</h1>
                    <span class="itemInformation">2.0 GHz</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                </div>
            </div>
            <div class="cardDivisionSectorItem">
                <div class="itemPreview"></div>
                <div class="itemDetails">
                    <h1 class="itemTitle">Test Motherboard For Everyone In the family test</h1>
                    <span class="itemInformation">2.0 GHz</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                </div>
            </div>
            <div class="cardDivisionSectorItem">
                <div class="itemPreview"></div>
                <div class="itemDetails">
                    <h1 class="itemTitle">Test Motherboard For Everyone In the family test</h1>
                    <span class="itemInformation">2.0 GHz</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                </div>
            </div>
            <div class="cardDivisionSectorItem">
                <div class="itemPreview"></div>
                <div class="itemDetails">
                    <h1 class="itemTitle">Test Motherboard For Everyone In the family test</h1>
                    <span class="itemInformation">2.0 GHz</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                </div>
            </div>
        </div>
        <div class="cardDivisionSector">
            <div class="titleContainer">
                <h1 class="title">Motherboarsdfsa</h1>
                <div class="titleDescription">Hey! Checkout the recent additions to Motherboards</div>
            </div>
            <div class="cardDivisionSectorItem">
                <div class="itemPreview"></div>
                <div class="itemDetails">
                    <h1 class="itemTitle">Test Motherboard For Everyone In the family test</h1>
                    <span class="itemInformation">2.0 GHz</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                </div>
            </div>
            <div class="cardDivisionSectorItem">
                <div class="itemPreview"></div>
                <div class="itemDetails">
                    <h1 class="itemTitle">Test Motherboard For Everyone In the family test</h1>
                    <span class="itemInformation">2.0 GHz</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                </div>
            </div>
            <div class="cardDivisionSectorItem">
                <div class="itemPreview"></div>
                <div class="itemDetails">
                    <h1 class="itemTitle">Test Motherboard For Everyone In the family test</h1>
                    <span class="itemInformation">2.0 GHz</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                </div>
            </div>
            <div class="cardDivisionSectorItem">
                <div class="itemPreview"></div>
                <div class="itemDetails">
                    <h1 class="itemTitle">Test Motherboard For Everyone In the family test</h1>
                    <span class="itemInformation">2.0 GHz</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                    <span class="itemInformation">MSI Gaming B85-G43</span>
                </div>
            </div>
        </div>
    </div>

    <!-- quickAccessArea -->
    <div id="quickAccessArea" style="display: none;">
        <div id="createControlsContainer">
            <button class="buttonGlyph">
                <span>C</span>
            </button>
        </div>
        <div id="retrieveControlsContainer">
            <button class="buttonGlyph">
                <span>S</span>
                <input type="text" placeholder="TYPE A KEYWORD AND HIT ENTER"
                    style="display:none; height: 100%; width: 100%; text-align: center; background-color: transparent; border: none;" />
            </button>
        </div>
        <div id="updateControlsContainer">
            <button class="buttonGlyph">
                <span>U</span>
            </button>
        </div>
        <div id="deleteControlsContainer">
            <button class="buttonGlyph">
                <span>D</span>
            </button>
        </div>
    </div>
</body>

</html>