body {
    display: flex;
    align-items: center;
}

.cardDivision {
    position: absolute;

    overflow: auto;
    overflow: overlay;

    height: 100%;
    width: 100%;

    background-color: var(--cardDivisionBackgroundColor);
}

.cardDivisionSector {
    overflow-x: auto;
    overflow: overlay;

    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;

    width: 100%;
}

.titleContainer {
    padding: 10px;
}

.cardDivisionSector > table {
    min-width: 100%;

    border-collapse: collapse;
}

.cardDivisionSector > table tr {
    border-bottom: thin solid var(--tableBorderColor);
}

.cardDivisionSector > table th {
    color: var(--titleDescriptionColor);
}

.cardDivisionSector > table th, .cardDivisionSector > table td {
    padding: 20px 10px 20px 10px;

    text-align: left;
}

div.cardDivisionSectorItem {
    display: flex;

    margin: 10px;
    height: 100px;
    padding: 10px;
    
    border-radius: 5px;
}

.cardDivisionSectorItem:hover {
    background-color: var(--cardDivisionSectorItemBackgroundColor-hover);
}

.cardDivisionSectorItem.active {
    box-shadow: 0 0 3px 3px var(--cardDivisionSectorItemBoxShadowColor-active);
}

.itemPreview {
    margin: 0 10px 0 0;
    height: 100%;
    width: 80px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.itemDetails {
    display: flex;
    align-content: center;
    flex-wrap: wrap;

    height: 100%;
    width: 210px;
}

.itemTitle {
    width: 100%;

    text-overflow: ellipsis;
    white-space: nowrap;
}

.itemInformation {
    margin: 0 10px 0 0;
}

.itemInformation:hover {
    color: var(--itemInformationColor);
}

.sidePanel {
    position: absolute;
    right: 0;

    overflow: auto;
    overflow: overlay;

    background-color: var(--cardBackgroundColor);
    border-radius: 5px 0 0 5px;
    box-shadow: 0 0 5px var(--sidePanelBoxShadowColor);

}

.sidePanel * {
    color: black;
}