.inputContainer.text.suffixed, .inputContainer.text.prefixed {
    position: relative;
}

.inputContainer.text.prefixed>input {
    padding-left: 45px;
}

.inputContainer.text.suffixed>input {
    padding-right: 45px;
}

.inputContainer.text.prefixed::before {
    font-weight: bolder;
    
    position: absolute;
    top: 21px;
    left: 20px;
}

.inputContainer.text.suffixed::after {
    font-weight: bolder;
    
    position: absolute;
    top: 21px;
    right: 20px;
}

.inputContainer.text.price::before {
    content: "Rs.";
}

.inputContainer.text.days::after {
    content: "Days";
}

.inputContainer.text.percentage::after {
    content: "%";
}