@font-face {
    font-family: "OpenSans";
    src: url("/fonts/SourceSansPro-Regular.ttf")
}

:root {
    --color0-1: white;
    --color0-2: indianred;
    --color0-3: transparent;

    --color1-5: rgb(65, 200, 130);
    --color1-1: rgba(60, 180, 115, 1);
    --color1-2: rgba(0, 140, 140, 1);
    --color1-3: rgba(0, 120, 120, 1);
    --color1-4: rgba(0, 100, 100, 1);

    --color2-1: rgba(0, 0, 0, 0.9);
    --color2-2: black;
    --color2-3: gray;
    
    --color3-1: rgba(65, 105, 225, 1);
    --color3-2: rgb(50, 90, 200);

    /* platformStyleVariables */
    --defaultFontFamily: "OpenSans";
    --defaultColor: var(--color0-1);

    --titleColor: var(--color1-5);
    --titleDescriptionColor: var(--color1-5);

    --inputContainerBorderColor-invalid: var(--color0-2);

    --inputBackgroundColor: var(--color0-3);
    --inputBackgroundColor-active: var(--color2-1);
    --inputBackgroundColor-disabled: var(--color2-3);
    --inputBackgroundColor-hover: var(--color1-1);
    --inputBorderColor: var(--color0-1);

    --textInputPlaceholderColor: var(--color2-2);

    --buttonGlyphBackgroundColor: var(--color1-1);
    --buttonGlyphBackgroundColor-hover: var(--color1-3);
    --buttonGlyphBoxShadowColor: var(--color2-2);

    --buttonTextBackgroundColor: var(--color1-1);
    --buttonTextBackgroundColor-hover: var(--color1-3);
    --buttonTextBoxShadowColor: var(--color2-2);

    --buttonTextLinkColor: var(--color0-1);
    --buttonTextLinkColor-hover: var(--color1-3);

    --cellPointBackgroundColor: var(--color0-1);
    --cellPointBackgroundColor-active: var(--color3-1);
    --cellPointBorderColor-active: var(--color0-1);

    /* shellStyleVariables */
    --logInScreenBackgroundColor: var(--color3-1);

    --logInBoxBackgroundBackgroundColor: var(--color1-3);
    --logInBoxBackgroundBoxShadowColor: var(--color2-2);

    --logInBoxInputBackgroundColor: var(--color0-3);

    --workspaceScreenBackgroundImage: url("/images/main/image_background_workspaceScreen_turquoise.jpg");

    --cardBackgroundColor: var(--color1-1);
    --cardBackdropFilter: blur(5px);
    --cardBoxShadowColor: var(--color2-2);

    --headerAreaColor: var(--color0-1);
    --HeaderAreaTextShadowColor: var(--color2-2);

    --popUpCardBackgroundColor: var(--color1-1);
    --popUpCardBackdropFilter: blur(5px);
    --popUpCardBoxShadowColor: var(--color2-2);

    --actionOverlayBackgroundColor: var(--color2-1);

    --actionOverlayChipBackgroundColor: var(--color3-1);
    --actionOverlayChipBackgroundColor-hover: var(--color3-2);

    --alertOverlayBackgroundColor: var(--color2-1);

    --alertBoxBackgroundBackgroundColor: var(--color1-3);
    --alertBoxBackgroundBoxShadowColor: var(--color2-2);

    /* cardStyleVariables */
    --cardDivisionBackgroundColor: var(--color1-3);

    --cardDivisionSectorItemBackgroundColor-hover: var(--color1-2);
    --cardDivisionSectorItemBoxShadowColor-active: var(--color1-4);

    --sidePanelBoxShadowColor: var(--color2-2);

    /* popUpCardStyleVariables */
    --formTitleContainerBoxShadow: var(--color2-2);
    --formTitleContainerColor_child: var(--color1-3);

    --formFieldsContainerBackgroundColor: var(--color1-3);

    --formControlsContainerBoxShadow: var(--color2-2);
}