.popUpDivision {
    height: 100%;
    width: 100%;
    padding: 76px 0 60px 0;
}

.formTitleContainer {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    padding: 0 20px 20px 20px;
    
    box-shadow: 0 -5px 20px 0 var(--formTitleContainerBoxShadow);
}

.formTitleContainer .title, .formTitleContainer .titleDescription {
    color: var(--formTitleContainerColor_child);
}

.formsContainer {
    overflow: auto;
    overflow: overlay;
    
    height: 100%;
    width: 100%;
    padding: 20px;
    
    background-color: var(--formFieldsContainerBackgroundColor);
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
}

.formFieldContainer {
    width: 100%;
}

.formControlsContainer {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 0 20px 0 20px;

    box-shadow: 0 5px 20px 0 var(--formControlsContainerBoxShadow);
}

@media (orientation: landscape) {
    .formFieldContainer {
        width: 48%;
    }

    .formFieldContainer.wide {
        width: 100%;
    }
}

@media print {
    /* * {
        border: thin solid red;
    } */

    .popUpDivision {
        padding: 0;
    }

    .formTitleContainer {
        padding: 0 0 20px 0;
    }

    .formTitleContainer .titleDescription, .formFieldContainer .titleDescription, .formFieldContainer>ul, .formControlsContainer {
        display: none;
    }

    .formTitleContainer>.titleContainer {
        width: 100%;

        border: none;
    }

    .formTitleContainer>.titleContainer>.title {
        font-size: 30px;
    }

    .formTitleContainer>.titleContainer>.title::after {
        content: " Details";
    }

    .formsContainer {
        padding: 70px 0 0 0;
    }

    .formFieldContainer {
        display: flex;
    }

    .formFieldContainer>.titleContainer {
        display: flex;
        align-items: center;

        width: 25%;

        border: thin solid black;
        border-width: 0 0 thin 0;
    }

    .formFieldContainer>.titleContainer>.title {
        font-size: 16px;
    }

    .inputContainer {
        margin: 0;
        width: 75%;

        border: thin solid black;
        border-width: 0 0 thin 0;
    }

    .inputContainer.dropDown::after {
        display: none;
    }

    .inputContainer>input, .inputContainer>select {
        margin: 0;
        padding: 0;

        border: none;

        color: black;
    }

    .inputContainer.text>input::placeholder {
        color: transparent;
    }

    .inputContainer.image {
        justify-content: flex-start;
    }
}