.popUpDivision {
    height: 100%;
    width: 100%;
    padding: 75px 0 60px 0;
}

.formTitleContainer {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    padding: 0 20px 20px 20px;
    
    box-shadow: 0 -5px 20px 0 var(--formTitleContainerBoxShadow);
}

.formTitleContainer .title, .formTitleContainer .titleDescription {
    color: var(--formTitleContainerColor_child);
}

.formsContainer {
    overflow: auto;
    overflow: overlay;
    
    height: 100%;
    width: 100%;
    padding: 20px;
    
    background-color: var(--formFieldsContainerBackgroundColor);
}

.formControlsContainer {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 0 20px 0 20px;

    box-shadow: 0 5px 20px 0 var(--formControlsContainerBoxShadow);
}

@media print {
    /* * {
        border: thin solid red;
    } */

    .popUpDivision {
        padding: 0;
    }

    .formTitleContainer {
        padding: 0 0 20px 0;
    }

    .formTitleContainer .titleDescription, .formControlsContainer, .titleContainer+ul {
        display: none;
    }

    .formTitleContainer>.titleContainer {
        width: 100%;

        border: none;
    }

    .formTitleContainer .title {
        font-size: 30px;
    }

    .formTitleContainer .title::after {
        content: " Details";
    }

    .formsContainer {
        padding: 70px 0 0 0;
    }

    form {
        display: flex;
        flex-wrap: wrap;

        width: 100%;
    }

    .titleContainer {
        display: flex;
        align-items: center;

        width: 25%;

        border: thin solid black;
        border-width: 0 0 thin 0;
    }

    .title {
        font-size: 16px;
    }

    .inputContainer {
        margin: 0;
        width: 75%;

        border: thin solid black;
        border-width: 0 0 thin 0;
    }

    .inputContainer.dropDown::after {
        display: none;
    }
    
    .input {
        margin: 0;
        padding: 0;

        border: none;

        color: black;
    }

    .textInput::placeholder {
        color: transparent;
    }
}