<!DOCTYPE html>
<html lang="en" style="height: 100%; width: 100%;">

<head>
    <meta charset="UTF-8">
    <title>Retrieve Image File</title>

    <link rel="stylesheet" href="../../stylesheets/platform_styleVariables_turquoise.css" />
    <link rel="stylesheet" href="../../stylesheets/platform_styles.css">
    <link rel="stylesheet" href="../../stylesheets/popUpCard_styles.css" />

    <style>
        .formsContainer {
            overflow: hidden;
            padding: 0;
        }

        .imageController {
            height: 100%;
            width: 100%;

            object-fit: cover;
            object-position: center center;
        }
    </style>

    <script>
        //@ts-check
        //Prevent contextMenu
        window.addEventListener("contextmenu", (event) => {
            event.preventDefault();
        });
        //Add onload to window for initializing popUpCardInterface
        window.addEventListener("load", () => {
            window.popUpCardInterface = new PopUpCardInterface();
        });

        class PopUpCardInterface {
            popUpCardObject = null;

            closeButtons = document.querySelectorAll(".closeButton");
            imageController = document.getElementById("imageController");

            preview(imageFileURL) {
                this.imageController.src = imageFileURL;
                //Update titleDescription with fileName
                document.querySelector(".title").textContent = decodeURIComponent(imageFileURL.slice(imageFileURL.lastIndexOf("/") + 1, imageFileURL.lastIndexOf(".")));
            }
        }
    </script>
</head>

<body>
    <div class="popUpDivision">
        <!-- formTitleContainer -->
        <div class="formTitleContainer">
            <div class="titleContainer">
                <div class="titleDescription">Preview</div>
                <div class="title">Loading...</div>
            </div>
        </div>

        <!-- formFieldsContainer -->
        <div class="formsContainer">
            <img id="imageController" class="imageController" />
        </div>

        <!-- formControlsContainer -->
        <div class="formControlsContainer">
            <button class="buttonText link closeButton">CLOSE</button>
        </div>
    </div>
</body>

</html>