<!DOCTYPE html>
<html lang="en" style="height: 100%; width: 100%;">

<head>
    <meta charset="UTF-8">
    <title>Create User</title>

    <link rel="stylesheet" href="../../stylesheets/platform_styleVariables_turquoise.css" />
    <link rel="stylesheet" href="../../stylesheets/platform_styles.css">
    <link rel="stylesheet" href="../../stylesheets/popUpCard_styles.css" />

    <script type="module">
        //@ts-check
        import { FormUtil } from "../../scripts/Utility.js";
        import { Form } from "../../scripts/Form.js";

        //Prevent contextMenu
        window.addEventListener("contextmenu", (event) => {
            event.preventDefault();
        });
        //Add onload to window for initializing popUpCardInterface
        window.addEventListener("load", () => {
            window.popUpCardInterface = new PopUpCardInterface();
        });

        class PopUpCardInterface {
            popUpCardObject = null;
            title = document.querySelector("title").textContent;
            roleForm = new Form(document.getElementById("roleForm"));
            permissionForm = new Form(document.getElementById("permissionForm"));

            moduleId2BindingObjectIndex = {
                // "1": 4
            }

            closeButtons = document.querySelectorAll(".closeButton");

            constructor() {
                document.getElementById("saveButton").addEventListener("click", () => {
                    this.roleForm.submit()
                        .then(submission => {
                            if (submission.status) {
                                //Fill the roleId of each permission with the newly created role.id
                                for (const permission of this.permissionForm.getBindingObject()) {
                                    permission.roleId.value = submission.data.id;
                                }
                                return true;
                            } else {
                                window.parent.shellInterface.throwAlert(submission.error.title, submission.error.titleDescription, submission.error.message, null, "OK", null);
                                return false;
                            }
                        })
                        .then(() => this.permissionForm.submit())
                        .then(submission => {
                            if (submission.status) {
                                //Refresh (not reload) the parentCardInterface
                                if (this.permissionForm.getSubmissionMethod() === "PUT") {
                                    this.popUpCardObject.parentCardInterface.searchItems("", "We've got a new role", "Double tap to view and update");
                                } else if (this.permissionForm.getSubmissionMethod() === "POST") {
                                    this.popUpCardObject.parentCardInterface.searchItems("", "You've updated a role recently", "Double tap to view");
                                }
                                
                                this.popUpCardObject.close();
                            } else {
                                window.parent.shellInterface.throwAlert(submission.error.title, submission.error.titleDescription, submission.error.message, null, "OK", null);
                            }
                        });
                })
            }

            initInputs() {
                return Promise.all([
                    //Load modules
                    FormUtil.createDropDownInputFragment("/tables/module", "name", "id")
                        .then((dropDownInputFragment) => {
                            this.permissionForm.getView().querySelector("#moduleId").appendChild(dropDownInputFragment);
                        })
                ]);
            }

            extendInitPermissionForm() {
                //NOTE: The form.bindingObject is an array. It contains a reference permission object
                //NOTE: That reference object must be backed up and removed from the array (Removal will be done automatically)
                const stringifiedRefPermission = JSON.stringify(this.permissionForm.getReferenceBindingObject()[0]);

                const dropDownInput = this.permissionForm.getView().querySelector("#moduleId");
                //Create a moduleId2BindingObjectIndex entry and a permission object for each option tag
                for (let i = 0; i < dropDownInput.childElementCount; i++) {
                    const moduleId = dropDownInput.children[i].value;
                    this.moduleId2BindingObjectIndex[moduleId] = i;
                    this.permissionForm.getBindingObject()[i] = JSON.parse(stringifiedRefPermission);
                    //Update the moduleId of the newly parsed permission object
                    this.permissionForm.getBindingObject()[i].moduleId.value = moduleId;
                }

                //Add onchange to DropDownInput for updating checkInputs with the current value
                dropDownInput.addEventListener("change", (event) => {
                    const moduleId = dropDownInput.value;
                    const bindingObjectIndex = this.moduleId2BindingObjectIndex[moduleId];
                    const permissionValue = this.permissionForm.getBindingObject()[bindingObjectIndex].value.value;

                    const checkInputs = this.permissionForm.getView().querySelectorAll(".checkInput");
                    for (let i = 0; i < 4; i++) {
                        if (permissionValue[i] === "1") {
                            checkInputs[i].checked = true;
                        } else {
                            checkInputs[i].checked = false;
                        }
                    }
                });

                //Add onchange to every checkInput for updating relevant permission object's value
                const checkInputs = this.permissionForm.getView().querySelectorAll(".checkInput");
                for (let i = 0; i < 4; i++) {
                    checkInputs[i].addEventListener("change", (event) => {
                        const selectedModuleId = dropDownInput.value;
                        const bindingObjectIndex = this.moduleId2BindingObjectIndex[selectedModuleId];
                        const splitPermissionValue = this.permissionForm.getBindingObject()[bindingObjectIndex].value.value.split("");

                        if (checkInputs[i].checked) {
                            splitPermissionValue[i] = "1";
                        } else {
                            splitPermissionValue[i] = "0";
                        }
                        this.permissionForm.getBindingObject()[bindingObjectIndex].value.value = splitPermissionValue.join("");
                    });
                }
            }

            initCreateForm() {
                this.roleForm.init("/registries/role.json", "/roles", "PUT");
                this.permissionForm.init("/registries/permissions.json", "/permissions", "PUT").then(() => {
                    //Execute the extended initiation procedure
                    this.extendInitPermissionForm();
                });
            }

            initUpdateForm(selectedCardDivisionSectorItem) {
                //Cache the selectedCardDivisionSectorItem to replace it after the update
                const selectedItemId = selectedCardDivisionSectorItem.dataset.bindingObjectId;

                //Initialize form
                this.roleForm.init("/registries/role.json", `/roles/${selectedItemId}`, "POST").then((form) => {
                    //Load plainObject
                    return fetch(`${location.protocol}//${location.host}/roles/${selectedItemId}`)
                        .then(response => response.json())
                        .then(response => {
                            if (response.status) {
                                this.roleForm.mapToBindingObject(this.roleForm.getBindingObject(), response.data);
                                //Update the inputs according to the binding object
                                this.roleForm.updateInputs(this.roleForm.getBindingObject());
                            } else {
                                window.parent.shellInterface.throwAlert(response.error.title, response.error.titleDescription, response.error.message, null, "OK", null);
                            }
                        })
                        .catch(error => {
                            window.parent.shellInterface.throwAlert("Aw! snap", "Contact your system administrator", "We couldn't fetch the required user from the internal registry. The most likely cause may be a network failure. If it is not the case, provide your system administrator with the following error\n\n" + error, null, "OK", null);
                        })
                }).then(() => {
                    this.permissionForm.init("/registries/permissions.json", `/permissions/${selectedItemId}`, "POST").then(() => {
                        //Execute the extended initiation procedure
                        this.extendInitPermissionForm();
                        //Load plainObject
                        fetch(`${location.protocol}//${location.host}/permissions/${selectedItemId}`)
                            .then(response => response.json())
                            .then(response => {
                                if (response.status) {
                                    for (let i = 0; i < response.data.length; i++) {
                                        const moduleId = response.data[i].moduleId;
                                        const bindingObjectIndex = this.moduleId2BindingObjectIndex[moduleId];
                                        for (const key of Object.keys(this.permissionForm.getBindingObject()[bindingObjectIndex])) {
                                            this.permissionForm.getBindingObject()[bindingObjectIndex][key].value = response.data[i][key];
                                        }
                                    }

                                    //Update roleId of every permission object
                                    for (let i = 0; i < this.permissionForm.getBindingObject().length; i++) {
                                        this.permissionForm.getBindingObject()[i].roleId.value = this.roleForm.getBindingObject().id.value;
                                    }
                                }

                                //Update the check inputs for the currently selected option
                                const moduleId = this.permissionForm.getView().querySelector("#moduleId").value;
                                const bindingObjectIndex = this.moduleId2BindingObjectIndex[moduleId];
                                const permissionValue = this.permissionForm.getBindingObject()[bindingObjectIndex].value.value;
                                const checkInputs = this.permissionForm.getView().querySelectorAll(".checkInput");
                                for (let i = 0; i < 4; i++) {
                                    if (permissionValue[i] === "1") {
                                        checkInputs[i].checked = true;
                                    } else {
                                        checkInputs[i].checked = false;
                                    }
                                }
                            })
                            .catch(error => {
                                window.parent.shellInterface.throwAlert("Aw! snap", "Contact your system administrator", "We couldn't fetch the required user from the internal registry. The most likely cause may be a network failure. If it is not the case, provide your system administrator with the following error\n\n" + error, null, "OK", null);
                            });
                    });
                });
            }
        }
    </script>
</head>

<body>
    <div class="popUpDivision">
        <!-- formTitleContainer -->
        <div class="formTitleContainer">
            <div class="titleContainer">
                <div class="title">Create Role</div>
            </div>
        </div>

        <!-- formsContainer -->
        <div class="formsContainer">
            <form id="roleForm">
                <div class="titleContainer">
                    <h1 class="title">Role Name</h1>
                </div>
                <ul>
                    <li>Must consist only of letters and numbers</li>
                    <li>Both uppercase and lowercase letters are allowed</li>
                    <li>No spaces are allowed</li>
                </ul>
                <div class="inputContainer">
                    <input id="name" type="text" class="input textInput" placeholder="eg: myRole1" />
                </div>
            </form>
            <form id="permissionForm">
                <div class="titleContainer">
                    <h1 class="title">Module Permissions</h1>
                </div>
                <p>The role determines a user's permissions on each module</p>
                <p>If the role you want isn't listed below, go and add it in before proceeding</p>
                <div class="inputContainer">
                    <select id="moduleId" class="input dropDownInput">

                    </select>
                </div>
                <div class="inputGroup">
                    <div class="inputContainer">
                        <input type="checkbox" class="input checkInput">
                        <label>Create</label>
                    </div>
                    <div class="inputContainer">
                        <input type="checkbox" class="input checkInput">
                        <label>Retrieve</label>
                    </div>
                    <div class="inputContainer">
                        <input type="checkbox" class="input checkInput">
                        <label>Update</label>
                    </div>
                    <div class="inputContainer">
                        <input type="checkbox" class="input checkInput">
                        <label>Delete</label>
                    </div>
                </div>
            </form>
        </div>

        <!-- formControlsContainer -->
        <div class="formControlsContainer">
            <button id="saveButton" class="buttonText link">SAVE</button>
            <button class="buttonText link">CLEAR</button>
            <button class="buttonText link closeButton">CLOSE</button>
        </div>
    </div>
</body>

</html>