<!DOCTYPE html>
<html lang="en" style="height: 100%; width: 100%;">

<head>
    <meta charset="UTF-8">
    <title>Create User</title>

    <link rel="stylesheet" href="../../stylesheets/platform_styleVariables_turquoise.css" />
    <link rel="stylesheet" href="../../stylesheets/platform_styles.css">
    <link rel="stylesheet" href="../../stylesheets/popUpCard_styles.css" />

    <script type="module">
        //@ts-check
        import { FormUtil } from "../../scripts/Utility.js";
        import { Form } from "../../scripts/Form.js";

        //Prevent contextMenu
        window.addEventListener("contextmenu", (event) => {
            event.preventDefault();
        });
        //Add onload to window for initializing popUpCardInterface
        window.addEventListener("load", () => {
            window.popUpCardInterface = new PopUpCardInterface();
        });

        class PopUpCardInterface {
            popUpCardObject = null;
            title = document.querySelector("title").textContent;
            roleForm = new Form(document.getElementById("roleForm"));
            permissionForm = new Form(document.getElementById("permissionForm"));

            closeButtons = document.querySelectorAll(".closeButton");

            constructor() {
                //Initialize roleForm
                this.roleForm.init("role.json");
                this.permissionForm.init("permissions.json").then((form) => {
                    //NOTE: The form.bindingObject is an array. It contains a reference permission object
                    //NOTE: That reference object must be backed up and removed from the array (Removal will be done automatically)
                    const stringifiedRefPermission = JSON.stringify(form.getReferenceBindingObject()[0]);
                    //Load modules
                    FormUtil.createDropDownInputFragment("/tables/module", "name", "id")
                        .then((dropDownInputFragment) => {
                            const dropDownInput = form.getView().querySelector("#moduleId");

                            dropDownInput.appendChild(dropDownInputFragment);

                            const moduleId2BindingObjectIndex = {
                                // "1": 4
                            }

                            //Create a moduleId2BindingObjectIndex entry and a permission object for each option tag
                            for (let i = 0; i < dropDownInput.childElementCount; i++) {
                                const moduleId = dropDownInput.children[i].value;
                                moduleId2BindingObjectIndex[moduleId] = i;
                                form.getBindingObject()[i] = JSON.parse(stringifiedRefPermission);
                                //Update the moduleId of the newly parsed permission object
                                form.getBindingObject()[i].moduleId.value = moduleId;
                            }

                            //Add onchange to DropDownInput for updating checkInputs with the current value
                            dropDownInput.addEventListener("change", (event) => {
                                const moduleId = dropDownInput.value;
                                const bindingObjectIndex = moduleId2BindingObjectIndex[moduleId];
                                const permissionValue = form.getBindingObject()[bindingObjectIndex].value.value;

                                const checkInputs = form.getView().querySelectorAll(".checkInput");
                                for (let i = 0; i < 4; i++) {
                                    if (permissionValue[i] === "1") {
                                        checkInputs[i].checked = true;
                                    } else {
                                        checkInputs[i].checked = false;
                                    }
                                }
                            });

                            //Add onclick to every checkInput for updating relevant permission object's value
                            const checkInputs = form.getView().querySelectorAll(".checkInput");
                            for (let i = 0; i < 4; i++) {
                                checkInputs[i].addEventListener("change", (event) => {
                                    const selectedModuleId = dropDownInput.value;
                                    const bindingObjectIndex = moduleId2BindingObjectIndex[selectedModuleId];
                                    const splitPermissionValue = form.getBindingObject()[bindingObjectIndex].value.value.split("");

                                    if (checkInputs[i].checked) {
                                        splitPermissionValue[i] = "1";
                                    } else {
                                        splitPermissionValue[i] = "0";
                                    }
                                    form.getBindingObject()[bindingObjectIndex].value.value = splitPermissionValue.join("");
                                });
                            }
                        });
                });

                //Add onclick to saveButton for submitting the form
                document.getElementById("saveButton").addEventListener("click", () => {
                    this.roleForm.submit("/roles")
                    .then(submission => {
                        if (submission.status) {
                            //Fill the roleId of each permission with the newly created role.id
                            for (const permission of this.permissionForm.getBindingObject()) {
                                permission.roleId.value = submission.data.id;
                            }
                            return true;
                        } else {
                            window.parent.shellInterface.throwAlert(submission.error.title, submission.error.titleDescription, submission.error.message, null, "OK", null);
                            return false;
                        }
                        
                    })
                    .then(() => this.permissionForm.submit("/permissions"))
                    .then(submission => {
                        if (submission.status) {
                            //Refresh (not reload) the parentCardInterface
                            this.popUpCardObject.parentCardInterface.searchItems("", "We've got a new role", "Double tap to find out more");
                            //Close this popUpCard
                            this.popUpCardObject.close();
                        } else {
                            window.parent.shellInterface.throwAlert(submission.error.title, submission.error.titleDescription, submission.error.message, null, "OK", null);
                        }
                    });
                })
            }
        }
    </script>
</head>

<body>
    <div class="popUpDivision">
        <!-- formTitleContainer -->
        <div class="formTitleContainer">
            <div class="titleContainer">
                <div class="title">Create Role</div>
            </div>
        </div>

        <!-- formsContainer -->
        <div class="formsContainer">
            <form id="roleForm">
                <div class="titleContainer">
                    <h1 class="title">Role Name</h1>
                </div>
                <ul>
                    <li>Must consist only of letters and numbers</li>
                    <li>Both uppercase and lowercase letters are allowed</li>
                    <li>No spaces are allowed</li>
                </ul>
                <div class="inputContainer">
                    <input id="name" type="text" class="input textInput" placeholder="eg: myRole1" />
                </div>
            </form>
            <form id="permissionForm">
                <div class="titleContainer">
                    <h1 class="title">Module Permissions</h1>
                </div>
                <p>The role determines a user's permissions on each module</p>
                <p>If the role you want isn't listed below, go and add it in before proceeding</p>
                <div class="inputContainer">
                    <select id="moduleId" class="input dropDownInput">

                    </select>
                </div>
                <div class="inputGroup">
                    <div class="inputContainer">
                        <input type="checkbox" class="input checkInput">
                        <label>Create</label>
                    </div>
                    <div class="inputContainer">
                        <input type="checkbox" class="input checkInput">
                        <label>Retrieve</label>
                    </div>
                    <div class="inputContainer">
                        <input type="checkbox" class="input checkInput">
                        <label>Update</label>
                    </div>
                    <div class="inputContainer">
                        <input type="checkbox" class="input checkInput">
                        <label>Delete</label>
                    </div>
                </div>
            </form>
        </div>

        <!-- formControlsContainer -->
        <div class="formControlsContainer">
            <button id="saveButton" class="buttonText buttonText-link">SAVE</button>
            <button class="buttonText buttonText-link">CLEAR</button>
            <button class="buttonText buttonText-link closeButton">CLOSE</button>
        </div>
    </div>
</body>

</html>