<!DOCTYPE html>
<html lang="en" style="height: 100%; width: 100%;">

<head>
    <meta charset="UTF-8">
    <title>Create User</title>

    <link rel="stylesheet" href="../../stylesheets/platform_styleVariables_turquoise.css" />
    <link rel="stylesheet" href="../../stylesheets/platform_styles.css">
    <link rel="stylesheet" href="../../stylesheets/popUpCard_styles.css" />

    <script type="module">
        //@ts-check
        import { FormUtil } from "../../scripts/Utility.js";
        import { Form } from "../../scripts/Form.js";
        
        //Prevent contextMenu
        window.addEventListener("contextmenu", (event) => {
            event.preventDefault();
        });
        //Add onload to window for initializing popUpCardInterface
        window.addEventListener("load", () => {
            window.popUpCardInterface = new PopUpCardInterface();
        });

        class PopUpCardInterface {
            popUpCardObject = null;
            title = document.querySelector("title").textContent;
            form = new Form(document.querySelector("form"));

            closeButtons = document.querySelectorAll(".closeButton");

            constructor() {
                //Initialize form
                this.form.init("user.json").then((form) => {
                    //Load roles and select option with value "1"
                    FormUtil.createDropDownInputFragment("/general?tableName=role", "name", "id")
                    .then((dropDownInputFragment) => {
                        this.form.getView().querySelector("#roleId").appendChild(dropDownInputFragment);
                        FormUtil.syncInputWithValue(this.form.getView(), this.form.getBindingObject().roleId, "1");
                    });
                });
                
                //Add onclick to saveButton for submitting the form
                document.getElementById("saveButton").addEventListener("click", () => {
                    this.form.submit("/user");
                });
            }
        }
    </script>
</head>

<body>
    <div class="popUpDivision">
        <!-- formTitleContainer -->
        <div class="formTitleContainer">
            <div class="titleContainer">
                <div class="title">Create User</div>
            </div>
        </div>

        <!-- formFieldsContainer -->
        <form class="formFieldsContainer">
            <div class="titleContainer">
                <h1 class="title">Username</h1>
            </div>
            <ul>
                <li>Must be unique</li>
                <li>Must consist only of letters and numbers</li>
                <li>Both uppercase and lowercase letters are allowed</li>
                <li>No spaces are allowed</li>
            </ul>
            <div class="inputContainer">
                <input id="username" type="text" class="textInput" placeholder="eg: johnDoe123" />
            </div>

            <div class="titleContainer">
                <h1 class="title">Role</h1>
            </div>
            <p>The role determines a user's permissions on each module</p>
            <p>If the role you want isn't listed below, go and add it in before proceeding</p>
            <div class="inputContainer">
                <select id="roleId" class="dropDownInput" data-value="null">

                </select>
            </div>
            <!-- <div class="titleContainer">
                <h1 class="title">Modules + Operations</h1>
            </div>
            <p>Every module has four operations. Create, retrieve, update and delete. Although you can apply other
                permissions without "retrieve" permission, The user won't be able to view the module</p>
            <div class="inputContainer">
                <div id="moduleDropDownInput" class="dropDownInput" data-value="null">

                </div>
            </div>
            <div id="permissionCheckInputContainer" class="inputContainer">
                <div class="checkInput" data-permission-index="0">
                    <div class="checkRadioInputControl"><span>C</span></div>
                    <div class="checkRadioInputLabel">
                        <span>Create</span>
                        <span>Module Name</span>
                    </div>
                </div>
                <div class="checkInput" data-permission-index="1">
                    <div class="checkRadioInputControl"><span>R</span></div>
                    <div class="checkRadioInputLabel">
                        <span>Retrieve</span>
                        <span>Module Name</span>
                    </div>
                </div>
                <div class="checkInput" data-permission-index="2">
                    <div class="checkRadioInputControl"><span>U</span></div>
                    <div class="checkRadioInputLabel">
                        <span>Update</span>
                        <span>Module Name</span>
                    </div>
                </div>
                <div class="checkInput" data-permission-index="3">
                    <div class="checkRadioInputControl"><span>D</span></div>
                    <div class="checkRadioInputLabel">
                        <span>Delete</span>
                        <span>Module Name</span>
                    </div>
                </div>
            </div> -->
        </form>

        <!-- formControlsContainer -->
        <div class="formControlsContainer">
            <button id="saveButton" class="buttonText buttonText-link">SAVE</button>
            <button class="buttonText buttonText-link">CLEAR</button>
            <button class="buttonText buttonText-link closeButton">CLOSE</button>
        </div>
    </div>
</body>

</html>